body {
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 1rem;
  color: #8f8f8f;
}

h3 {
  font-size: 4em;
}


.row {
  padding: 5% 2% 0 2%;
  font-size: 5rem;
}

.bigheading {
  font-size: 4rem;
  font-weight: bolder;
  padding: 0 2% 2% 0;
}

/* titleimage */
.iphoneimage {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

.download-button {
  margin: 5% 0 4% 0;
}

/* Sections */
.colored-section {
  background-color: #c06c84;
  color: white;
}

/* whitesection */
.icon {
  color: #f67280;
  margin-bottom: 3rem;
}

.icon:hover {
  color: #c06c84;
}

/* Navigation Bar */
#brandtitle {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

#title {
  color: white;
  font-size: 1.5rem;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 0 15%;
}

/* features */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;

}

.feature-box {
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

/* Testimonials */
#testimonials {
  padding: 10% 20%;
  text-align: center;
  background-color: #c06c84;
  color: white;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: bold;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
}

/* press */
#press {
  text-align: center;
  background-color: #c06c84;
  padding-bottom: 5%;
}
.presslogo{
  width: 7.5%;
  margin: 20px 20px 50px;
}
/* Pricing */

#pricing {
  padding: 5% 2%;
  text-align: center;
}
/* footer */

#cta{
  text-align: center;
  background-color: #c06c84;
  color: white;
  margin: 0; 
  }
#footer {
  text-align: center;
  background-color: #c06c84;
}
/* mediaquery */
@media (max-width: 1028px){
  .iphoneimage {
    position: static;
    transform: rotate(0);
  }
}
